body
{background-color:#a1a09d;
}
#special
{  height:20%;
	width:30%;
	margin:3% 35%;
	border:1px solid white;
	padding: 60px ;
  padding-top: 20px;
float:none;
position: relative;
background-color:white;
}


